ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.nav-button {
  background-color:#6B37F0 ;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: 0.5s ease;
  display: inline-block;
  font-size: 24px;
}

.nav-button:hover {
  transform: scale(1.05);
  background-color:#373FF0 ;
}